@font-face {
   font-family: '12롯데마트드림Bold';
   src: url('12롯데마트드림Bold/font.ttf');
}
@font-face {
   font-family: '야놀자 야체 Bold';
   src: url('야놀자 야체 Bold/font.ttf');
}
@font-face {
   font-family: '야놀자 야체 Regular';
   src: url('야놀자 야체 Regular/font.ttf');
}
